

*{
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
}

.header {
    border-bottom: 3px solid aqua;
    background-color: black;
    margin: 0px 0px 3px 0px;
}

.header .container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container ul {
    width: 400px;
   list-style: none;
   display: flex;
   justify-content: space-between;
   color: orange;
}

.header ul li a{
    color: orange;
    text-decoration: none;
}

.header h1{
color: aqua;
}